<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{!-- <link rel="stylesheet" href="style.css"> --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <title>meal budgeter</title>
</head>
<body>
    <nav>
        <a href="index"><h1>APP NAME</h1></a>
        <a href="user-account#create-recipe">ADD A RECIPE</a>
        
    </nav>
    {{{body}}}
    <footer>
        <p>&COPY APP NAME</p>
        <a href="/api/all" target="_blank">API</a>
        <p>Developed by </p>
        <a href="https://github.com/willwoodburn1" target="_blank">William Woodburn</a>
        <a href="https://github.com/sid-666" target="_blank">Siddharth Dhananjay</a>
        <a href="https://github.com/Conanas" target="_blank">Tom Haigh</a>
        <a href="https://github.com/smcheah" target="_blank">Simone Cheah</a>
    </footer>
</body>
</html>