<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .checked {
            color: orange;
        }
    </style>
</head>
<body>
    <h1>TITLE</h1>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <br>
    <img src="https://picsum.photos/550/350" alt="placeholder-image">
    <h2>INGREDIENTS</h2>
    <ul>
        <li>ingredient names</li>
    </ul>
    <h2>METHOD</h2>
    <ol>
        <li>method steps</li>
    </ol>
</body>
</html>