<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .checked {
            color: orange;
        }
    </style>
</head>
<body>
    <h1>TITLE</h1>
    <div>
        <div class="rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
        <div>total time?</div>
        <div>servings?</div>
    </div>
    <br>
    <img src="https://picsum.photos/550/350" alt="placeholder-image">
    <h2>INGREDIENTS</h2>
    <ul>
        <li>ingredient names</li>
    </ul>
    <h2>METHOD</h2>
    <ol>
        <li>method steps</li>
    </ol>
    <section>
        <h2>discussion</h2>
        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus dolorem qui vitae aut. Doloribus sapiente tenetur aut voluptas itaque possimus.</p>
            <p>user name</p>
        </div>
        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus dolorem qui vitae aut. Doloribus sapiente tenetur aut voluptas itaque possimus.</p>
            <p>user name</p>
        </div>
    </section>
</body>
</html>