<main>

    <form class="search-form" id="budget-form" method="post" action="/view-recipes/less-than">
        <label for="price">How much would you like to spend?</label>
        <input type="text" id="budget-input" name="price">
        <input type="submit" value="Submit">
    </form>

    <form class="search-form" method="post" action="/search-recipes-by-title">
        <label for="title">Search by Recipe Name</label>
        <input type="text" id="title-input" name="title">
        <input type="submit" value="Submit">
    </form>

    {{#if noData}}
    <label>No Recipes found, please try again</label>
    {{/if}}

</main>