<main>

    <form id="budget-form" method="post" action="/view-recipes/less-than">
        <label for="price">How much would you like to spend?</label>
        <input type="text" id="budget-input" name="price">
        <input type="submit" value="Submit">
    </form>

</main>