<main>

    <form id="budget-form">
        <label for="">How much would you like to spend?</label>
        <input type="text" id="budget-input">
        <input type="submit" value="Submit">
    </form>

    <ul id="search-list">
        
    </ul>

</main>

<script type="text/javascript" src="/js/index.js"></script>