<main>
    <input type="text" placeholder="STATE YOUR PRICE OR RECIPE TAG?">
    <button type="submit">submit</button>
</main>
<section>
    <!-- repeat for each recipe -->
    <div>
        <h1>TITLE</h1>
        <div>
            <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <div>total time?</div>
            <div>servings?</div>
        </div>

        <div>
            <div>tag name</div>
            <div>tag name</div>
            <div>tag name</div>
        </div>
        <img src="https://picsum.photos/250/150" alt="placeholder-image">
    </div>
</section>

<script type="text/javascript" src="/js/index.js"></script>