<main>
    <ul>
        {{#each recipes}}
        <li>
            <a href="/view-recipe/{{id}}">{{title}}</a>
        </li>
        {{/each}}
    </ul>
</main>

<script type="text/javascript" src="/js/members.js"></script>