<ul>
    {{#each recipes}}
    <li>
        <div>
            <h1>{{title}}</h1>
            <label>Rating: {{rating}}</label>
            <br>
            <label>Cost: ${{cost}}</label>
            <br>
            <a href="/view-recipe/{{id}}">View Recipe</a>
            <br>
            <img src="https://picsum.photos/250/150" alt="placeholder-image">
        </div>
    </li>
    {{/each}}
</ul>
