<main class="budgetsearchmain">

    <form class="budgetform" id="budget-form" method="post" action="/search-recipes-by-title">
        <label for="title"
            style="color: rgb(255, 255, 255); font-size: 40px; font-weight: bold; filter:brightness(120%)">Enter Recipe
            Name Here</label>
        <br>
        <input type="text" class="priceinput" id="budget-input" name="title">
        <br>
        <input class="submitbutton" type="submit" value="Submit">
    </form>

    {{#if noData}}
    <label>No Recipes found, please try again</label>
    {{/if}}

</main>