<div>
    <h1>Recipe Title</h1>
    <label>Chef's Name</label>
    <ul>Ingredients List
        <li><span>Amount</span> <span>Measure</span> <span>Ingredient 1</span></li>
        <li><span>Amount</span> <span>Measure</span> <span>Ingredient 2</span></li>
        <li><span>Amount</span> <span>Measure</span> <span>Ingredient 3</span></li>
        <li><span>Amount</span> <span>Measure</span> <span>Ingredient 4</span></li>
    </ul>
    <h2>Method</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus cras adipiscing enim eu turpis egestas pretium. Eget mi proin sed libero enim sed. Tincidunt tortor aliquam nulla facilisi cras fermentum odio. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Pellentesque massa placerat duis ultricies lacus sed. At augue eget arcu dictum varius. Tincidunt arcu non sodales neque sodales ut. Nulla pharetra diam sit amet. Aliquam ut porttitor leo a diam sollicitudin tempor id eu. Egestas pretium aenean pharetra magna. Iaculis nunc sed augue lacus. Amet tellus cras adipiscing enim eu turpis egestas pretium aenean. At augue eget arcu dictum varius duis. Arcu bibendum at varius vel pharetra vel turpis nunc eget. Proin libero nunc consequat interdum varius. Urna molestie at elementum eu facilisis sed odio morbi quis. Adipiscing diam donec adipiscing tristique risus nec feugiat. Aliquam ultrices sagittis orci a scelerisque.</p>
    <p>Leo duis ut diam quam nulla. Quis eleifend quam adipiscing vitae proin. Erat nam at lectus urna duis. Integer eget aliquet nibh praesent tristique magna sit amet purus. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Ipsum dolor sit amet consectetur adipiscing elit. Egestas integer eget aliquet nibh praesent tristique magna. Ut tellus elementum sagittis vitae et leo duis ut. Amet risus nullam eget felis eget nunc lobortis mattis aliquam. Enim nec dui nunc mattis enim. Sit amet mauris commodo quis imperdiet massa tincidunt nunc. Feugiat vivamus at augue eget arcu. Consectetur purus ut faucibus pulvinar elementum integer enim. Purus viverra accumsan in nisl. Arcu cursus vitae congue mauris rhoncus. Justo eget magna fermentum iaculis eu non. Morbi tristique senectus et netus et malesuada fames ac turpis. Orci a scelerisque purus semper eget duis at.</p>
    <p>A iaculis at erat pellentesque. In hendrerit gravida rutrum quisque non. Lorem mollis aliquam ut porttitor leo a diam sollicitudin. Facilisis volutpat est velit egestas dui. Nibh cras pulvinar mattis nunc sed blandit libero. Sem integer vitae justo eget. Odio eu feugiat pretium nibh. Ligula ullamcorper malesuada proin libero nunc. Massa placerat duis ultricies lacus. Facilisis volutpat est velit egestas. Sed turpis tincidunt id aliquet risus feugiat. Leo vel orci porta non pulvinar neque laoreet suspendisse. Quis commodo odio aenean sed adipiscing diam donec. Non curabitur gravida arcu ac tortor dignissim convallis aenean. Euismod nisi porta lorem mollis aliquam ut. Bibendum ut tristique et egestas quis ipsum suspendisse. Vel risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
    <img src="https://picsum.photos/250/150" alt="placeholder-image">
</div>

<script type="text/javascript" src="/js/view-recipe.js"></script>