body{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
/* main{
    height: 100vh;
} */
.devdetails{
    width:100%;
    position: relative;
}
.checked {
    color: orange;
}

button {
    background-color: orange;
}

a {
    color: red;
}

img {
    width: 80%;
    object-fit: cover;
    max-height: 300px;
}

.appName {
    color: white;
    font-size: 64px;
}

footer {
    position: relative !important;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: lightseagreen;
    color:white;
}

.mainContent {
    text-align: center;
    background-color: whitesmoke;
    color: white;
}
.budgetsearchmain{
    height: 100vh;
    background-image: url(../images/search-image-background.jpg);
    filter: contrast(100%); 
}
.budgetform{
    padding-left: 27vw; 
    padding-top: 40vh;
    filter: contrast(100%);  
}
.submitbutton{
    margin-top: 10px;
    margin-left: 10.5vw;
    color: white;
    border-radius: 20px;
    background-color: coral;
    border: white;
    width: 25vw;
    height: 50px;
    
}
.priceinput{
    width: 45vw;
    border-radius: 20px;
    border: white;
    height: 50px;
}

/* Create Recipe Page --> create-recipe.handlebars */
.createRecipeWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#createRecipeTitle {
    padding-left: 15px;
    text-align: left;
    text-decoration: underline;
}

#recipeForm{
    padding-left: 15px;
}

#previewRecipeTitle {
    text-decoration: underline;
}

#recipe-name {
    width: 300px;
}
#add-recipe-name {
    margin-left: 20px;
    border-radius: 20px;
}
#recipe-image{
    width: 300px;
}
#add-recipe-image {
    margin-left: 20px;
    border-radius: 20px;
}
#recipe-method {
    width: 300px;
}
#add-recipe-method {
   width: 20px; 
   border-radius: 20px;
}
#add-ingredient {
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
}
#add-method-step{
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 20px;
}
#submit-recipe{
    border-radius: 20px;
}
#recipe-item {
    width: 300px;
}
#ingredient-search {
    margin-left: 20px;
    border-radius: 20px;
}
#create-recipe{
    background-color: rgb(78, 117, 117);
}
#preview-content{
    padding-left: 20px; 
    background-color: rgb(221, 190, 133);    
}


.image{
    padding: 3px;
    border: 6px solid olivedrab;
}

table{
    width: 80%;
    border: 1px solid black;
}
td{
    width: 80px;
    border: 1px solid rgb(231, 157, 157);
}
/* Members page --> members.handlebars */

#membersWrapper {
    display: flex;
    margin-top: 10px;
}

#account-info {
    border: 1px solid red;
    width: 70%;
    margin-top: 20px;
    text-align: center;
    margin-left: 220px;
    background-color: lightsteelblue;
}

#user-recipes {
    border: 1px solid black;
    width: 48%;
    margin-left: 20px;
    background-color: lightsteelblue;
    text-align: center;
}

#saved-recipes {
    border: 1px solid green;
    width: 48%;
    margin-left: 20px;
    background-color: lightsteelblue;
    text-align: center;
}

h1 {
    text-decoration: underline;
}

/* Login Form --> login.handlebars */
@media screen and (max-width: 820px){
    .appName {
            font-size: 40px;
    }
}
@media screen and (max-width:740px) {
    .createRecipeWrapper {
        display: grid;
        grid-template-rows: auto auto;
        grid-auto-rows: minmax(300px, auto);
        grid-row-gap: 20px;
    }
    #create-recipe{
        grid-row: 1 / 2;
        justify-content: center;
    }
    #preview-content{
        grid-row: 2 / 3;
        justify-content: center;
    }
    footer {
        position: absolute;
        bottom: 0px;
        width: 100%;
        text-align: center;
        background-color: lightseagreen;
        color:white;
    }
  }
